%div{:style=>""}
  %h1
    TIMESPACE

  %h2
    %ul{:style=>"list-style-type:none;margin:0;padding:0;"}
    - @sets.each do |s|
      %li{:style=>"display:inline;margin:20px"}
        - if @eid == s
          Set #{s}
        - else
          %a{:href=>"/#{s}"}
            Set #{s}

%div{:style=>"width:1000;"}

  %h3
    #{@description}
      
  %div{:style=>"float:left;"}
    %h3
      = @initial.strftime("%Y-%m-%d")
    %img{:src=>@initial_url}

    
  %div{:style=>"float:right;"}
    %h3
      = @next.strftime("%Y-%m-%d")
    %img{:src=>@next_url}
    
  %div{:style=>"clear:both;"}
  
%div
  Find me on <a href="http://github.com/terryg/timespace">Github</a>.
